body {

}



.flex-container {
    display: flex;
}
.flex-container button{
    padding: 10px;
    height: 50px;
    width: 200px;
    font-family: 'Source Sans Pro Topnav', sans-serif;
    flex: 1;
}

.knapper {
background-color: rgba(137, 43, 226, 0);
border-color: rgba(137, 43, 226, 0);
}


.salsaknapp {
background-image: url(../gif/SALSA-5-2-2025.gif);
background-size: cover;
width: 150px;
height: 60px;

}

.sconesknapp {
background-image: url(../gif/SCONES-5-2-2025.gif);
background-size: cover;
width: 170px;
height: 60px;

}

.fajitasknapp {
background-image: url(../gif/FAJITAS-5-2-2025.gif);
background-size: cover;
width: 170px;
height: 60px;

}


.title {
    background-color: green;
    text-align: center;
    margin-bottom: 32px;
    margin-top: 50px;

}

.button {
    font-size: 14px;
    background-color: aquamarine;

}